@font-face {
    font-family: acens;
    src: url("/resources/fonts/_1.ttf");
}
@font-face {
    font-family: jpwave;
    src: url("/resources/fonts/_2.ttf");
}
@font-face {
    font-family: melo;
    src: url("/resources/fonts/_3.ttf");
}
@font-face {
    font-family: milkk;
    src: url("/resources/fonts/_4.otf");
}
@font-face {
    font-family: typewriter;
    src: url("/resources/fonts/_5.ttf");
}
@font-face {
    font-family: vcr;
    src: url("/resources/fonts/_6.ttf");
}
@font-face {
    font-family: pxllatin;
    src: url("/resources/fonts/_7.ttf");
}


.f_spc_25 {
    color: rgb(255, 255, 255);
    width: 190px;
    height: 25px;
}
.f_spc_50 {
    color: rgb(255, 255, 255);
    width: 190px;
    height: 50px;
}
.f_spc_75 {
    color: rgb(255, 255, 255);
    width: 190px;
    height: 75px;
}