div{
    font-size: 25px;
    font-family: melo;
    color: rgb(148, 65, 237);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
li{
    font-family: melo;
    color:rgb(227, 47, 167);
}
ol li{
    color:chocolate;
}
button:hover {
    background-color: rgb(144, 3, 99);
    border: 2px solid rgb(144, 3, 99);
    color: rgb(249, 211, 254);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
} 
button {
    font-family: melo;
    background-color: rgb(101, 3, 70);
    border: 2px solid rgb(101, 3, 70);
    padding: 2px 2px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: rgb(247, 185, 255);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
h2{
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 50px;
    font-family: melo;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
h1{
    font-size: 50px;
    font-family: melo;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
h3{
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 70px;
    font-family: melo;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
p{
    margin: 2px 2px;
    font-size: 30px;
    font-family: melo;
    color: rgb(177, 115, 243);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}