.imgCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    margin: 25px;
    padding: 5px;
}
.txtCntr {
    text-align: center;
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;  
}
.p{
    margin: 2px 2px;
    font-size: 15px;
    font-family: melo;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;    
}
