.imgCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.TxTbox {
    text-align: center;
    background-color: rgb(101, 3, 70);
    border: 5px solid rgb(0, 0, 0);
    margin: 25px;
    padding: 5px;
}
.txtCntr {
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  border-radius: 5px;
}
.boxButton:hover {
    background-color: rgb(191, 152, 178);
    border: 2px solid rgb(190, 178, 187);
    color: rgb(249, 211, 254);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  border-radius: 5px;
} 
.boxButton {
    font-family: melo;
    background-color: rgb(189, 113, 165);
    border: 2px solid rgb(199, 89, 164);
    padding: 1px 1px;
    text-align: center;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    color: rgb(247, 185, 255);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  border-radius: 5px;
}
.p{
    margin: 2px 2px;
    font-size: 15px;
    font-family: melo;
    color: rgb(177, 115, 243);
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.altBox:hover {
  background-color: rgb(96 139 168);
  border: 4px solid rgb(96 139 168);
  color: rgb(255, 255, 255);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  border-radius: 50px;
} 
.altBox {
  font-family: Acens;
  background-color: rgba(255, 255, 255, 0.216);
  border: 4px solid rgb(96 139 168);
  color: rgb(255, 255, 255);
  padding: 1px 1px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  width: 190px;
  height: 50px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  border-radius: 50px;
}

.altBoxFixed {
  position: absolute;
  top: 270px;
}

.altUnfixed {

}

.altLeft {
  position: dynamic;
  text-align: left;
}

.altRight {
  position: dynamic;
  text-align: right;
}

.altH2{
  position: dynamic;
  top: 20px;
  text-align: left;
  margin: 2px 2px;
  font-size: 40px;
  font-family: Acens;
  color:  rgb(96 139 168);
}

.altP{
  margin: 18px 5px;
  font-size: 30px;
  font-family: Acens;
  color: rgb(255, 255, 255);
}