@font-face {
    font-family: Acens;
    src: url("/resources/fonts/Acens.ttf");
}
@font-face {
    font-family: TypeWriter;
    src: url("/resources/fonts/typewriter.ttf");
}
@font-face {
    font-family: milkk;
    src: url("/resources/fonts/milkk.otf");
}
@font-face {
    font-family: melo;
    src: url("/resources/fonts/melo.ttf");
}